Q1. Create one variable containing following type of data:
(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
# (i) string
s = "hello this is string"

In [2]:
# (ii) list
l = [2,4,5,6,7,8,]

In [3]:
# (iii) float
f = 52.56

In [4]:
# (iv) tuple
t = (10, 20, 30, 40)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.

ANSWER

(i) var1: String

(ii) var2: String

(iii) var3: List

(iv) var4: Integer

Q 3 
Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [10]:
# LIST OF LENGTH 10 WITH MULTIPLE DATA TYPE
LIST = [42, "Hello", 3.14, True, [1, 2, 3], {'a': 1, 'b': 2}, None, (10, 20), "Python", False]

In [11]:
for i in LIST :
    print(type(i))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'NoneType'>
<class 'tuple'>
<class 'str'>
<class 'bool'>

Q 5

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.


ANSWER

In [7]:
A = int(input("Enter a number A: "))
B = int(input("Enter a number B: "))

count = 0
while A >= B and A % B == 0:
    count += 1
    A //= B

if count > 0:
    print(f"{A} is purely divisible by {B}.")
    print(f"It can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Enter a number A:  240
Enter a number B:  4

15 is purely divisible by 4.
It can be divided 2 times.

Q 6


Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.


ANSWER

In [18]:
# Create a list of 25 integer data
my_list = [4, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78]

# Using for loop and if-else condition to check divisibility by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

4 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
27 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
36 is divisible by 3.
39 is divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
54 is divisible by 3.
57 is divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
69 is divisible by 3.
72 is divisible by 3.
75 is divisible by 3.
78 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANSWER

Immutable Data Types:
Immutable data types are objects whose state cannot be changed after they are created. When you modify an immutable object, a new object is created with the updated value. This means that the original object remains unchanged
 
EXAMPLE

In [21]:
s = 'kran'

In [24]:
s[1]= 'a'

TypeError: 'str' object does not support item assignment

Mutable Data Types:
Mutable data types are objects whose state can be modified after they are created. When you modify a mutable object, the changes are made in-place, and the original object is updated without creating a new object.

Examples

In [25]:
l= [22,3,45,5,7,7,5,4,]

In [26]:
l[2] = 400

In [27]:
l

[22, 3, 400, 5, 7, 7, 5, 4]

COMPLETED WEEK 1 ASSIGNMENT